*{
    margin: 0;
    padding: 0;    
}

body{
    background-color: white;
    color: rgb(15, 15, 15);
}
.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.288);
    
    background-color: white;
    display: grid;
    
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(4 , auto);
}
 .contenedor .header,
 .contenedor .contenedor-izquierda,
 .contenedor .contenedor-derecha{
     background-color: white;
    
 }
 .header{
    padding-right: 140px;
    padding-top: 70px;
    
    text-align: center;
}
.header p{
    
    font-size: 25px;
    text-align: center;
    padding-right: 62px;
    
}
 .contenedor .header{
      height: 150px;
     background-color:#c5a2b3;
     grid-column-start: 2;
     grid-column-end: 4;
 }
 .contenedor .contenedor-izquierda{
    background-color:#f5d8e6 ;
    padding-left: 40px;
    border-radius: 2px;
    grid-column: 1/2;
    grid-row: 1/4;
}
.contenedor .contenedor-izquierda .foto{
    
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 250px;
    
}
 .contenedor .contenedor-derecha{
     grid-column:span 2;
     padding-left: 40px;
     padding-top: 30px;
 }



.contenedor-izquierda div {
    
    display: flex;
    justify-content:left;
    
}
.contenedor-izquierda div  img{
    
    margin-right: 10px;
    
}
.contenedor-derecha .subtitulos{
    display: flex;
    justify-content:left;
}
.contenedor-derecha div{
    display: flex;
    justify-content:inherit;
}
.contenedor-derecha div img{
    margin-right: 10px;
    margin-left: 10px;
}

.subtitulos{
    font-size: 40px;
}
.subtitulos img{
    margin-right: 10px;
    margin-left: 10px;
}

.contenedor .contenedor-inferior{
    height: 220px;
   background-color:rgb(126, 126, 126);
   
   display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50 px;
    grid-column-start: 1;
   grid-column-end: 4;
}

.enunciado, .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    padding-left: 30px;
    
}

.contenedor-inferior .tema{
    margin-top: 10px;
    margin-left: 40px;
    
    grid-column-start: 1;
    grid-column-end: 5;
}